@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a web site with Movies.</p>
    <p>You can Edit, Delete and Add new Movies</p>
</div>
